@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap");
:root {
  --font-base: "Hanken Grotesk", sans-serif;
  --clr-LightRed: hsl(0, 100%, 67%);
  --clr-OrangeyYellow: hsl(39, 100%, 56%);
  --clr-GreenTeal: hsl(166, 100%, 37%);
  --clr-CobaltBlue: hsl(234, 85%, 45%);
  --clr-LightSlateBlue: hsl(252, 100%, 67%);
  --clr-LightRoyalBlue: hsl(241, 81%, 54%);
  --clr-VioletBlue: hsla(256, 72%, 46%, 1);
  --clr-PersianBlue: hsla(241, 72%, 46%, 0);
  --clr-PaleBlue: hsl(221, 100%, 96%);
  --clr-LightLavender: hsl(241, 100%, 89%);
  --clr-DarkGrayBlue: hsl(224, 30%, 27%);
}
.box {
  width: 289px;
  height: 56px;
  margin-left: 64px;
  border-radius: 10px;
}
@media screen and (max-width: 35em) {
  .box {
    width: 317px;
    margin-left: 29px;
  }
}
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
}
/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  height: 100%;
  font-family: var(--font-base);
  overflow-x: hidden;
  background-color: var(--clr-PaleBlue);
  font-size: 18px;
  text-rendering: optimizeSpeed;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

.hidden {
  display: none;
}
p {
  padding: 0;
  margin: 0;
}
